body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}
h1 {
    margin-top: -0.5%;
    font-size: 45px;
}
.sidebar {
    height: 100vh;
    width: 225px;
    background-color: #333;
    padding-top: 20px;
    position: fixed;
}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar a:hover {
    background-color: rgb(154,126,255);
}
.sidebar a.logout {
    background-color: #444;
}
.registros {
    height: 80px;
    width: 55%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.registros a {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registros a:hover {
    background-color: #555;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    margin-top: 10px;
}
.form-container {
    margin-top: 55px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.form-column {
    margin-right: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 8px;
    border: 0px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.table-container {
    max-height: 400px;
    overflow-y: auto;
}
.totals {
    font-size: 150%;
    background-color: #e0e0e0;
    padding: 12px;
    border-radius: 15px;
    display: inline-block;
    text-align: right;
    margin-top: 20px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.totals div {
    margin-top: 2px;
    margin-bottom: 2px;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-row label {
    margin-right: 10px;
    width: 100px;
}
.form-row input {
    width: 200px;
    padding: 5px;
}
#generarReporte {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#generarReporte:hover {
    background-color: #45a049;
}
.productos{
    display: flex;
    align-items: center;
}
